.title {
  color: black;
}

button {
  font-size: 30px;
  border: 5px solid green;
  border-radius: 25px;
}

.inner-tab {
  border: 2px solid black;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.home-div {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  text-align: center;
}
